<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.min1996.rest">

    <application
        android:name=".base.RestApplication"
        android:allowBackup="true"
        android:icon="@drawable/restappicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restappicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>